{% extends base_template_name %}

{% block title %}
Login
{% endblock %}

{% block content %}
<h3>If you'd like to keep using this free resource, please create an account.</h3>
<p>Submitting your information will give you free access to all Better Government Association Data & Tools. We'll also send you our latest investigations every week.</p>
<form method="POST">
  {{ form.as_p }}
  {% csrf_token %}
  <div align="center">
    <button class="btn">Submit</button>
  </div>
</form>
<p align="center">
    <small>Already have an account? <a href="{% url 'salsa_auth:login' %}">Log in &raquo;</a></small>
</p>
{% endblock %}
