 <div class="col-lg-5{% if fund_type in 'state,chicago' %} offset-lg-1{% endif %} mb-3" id="{{ fund_type }}-container-col">
  <div class="row">
    <div class="col-lg-6">
      <h4 class="chart-title">{% if fund_type == 'county' %}Cook {% endif %}{{ fund_type|title }}{% if fund_type in 'chicago,downstate' %} Municipal{% endif %}<br />Pension Liability</h4>
      <h5 class="chart-subtitle"><span class="data-year"></span></h4>
    </div>
    <div class="col-lg-6 text-center">
      <small class="text-uppercase">Total Liability</small><br />
      <h2>$<span id="total-{{ fund_type }}-liability"></span></h2>
    </div>
  </div>
  <div id="{{ fund_type }}-container"></div>
  <div class="hidden" id="{{ fund_type }}-container-no-data">
    <small class="text-uppercase">No data</small>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <small class="text-secondary"><strong>Funds represented:</strong> <span id="{{ fund_type }}-members"></span></small>
    </div>
  </div>
</div>