{% extends 'base.html' %}

{% load static %}
{% load compress %}

{% block title %}Home{% endblock %}

{% block extra_css %}
<link href="{% static 'css/bootstrap-fs-modal.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="clearfix sticky-top">
  <div class="pt-2 pr-1 float-right">
    <div id="year-toggle">
      <div class="dropdown">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="yearDropdownMenuButton" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
          {{ data_years.0 }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for year in data_years %}
            <span class="dropdown-item year-dropdown-item">{{ year }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row pt-0">
  <div class="col-lg-8 offset-lg-2">
    {% if 'welcome' in request.GET %}
    <div class="row mb-3">
      <div class="alert alert-warning" role="alert">
        <i class="fas fa-info-circle fa-fw"></i> <strong>Looking for the Better Government Association’s Pension Database?</strong> We’ve updated and made it better. All of the records from the old site are available here. Check out our new work.
      </div>
    </div>
    {% endif %}

    <h3>Illinois Public Pensions Database</h3>

    <p class="lead">The crisis revolving around public-employee pensions is among the most vexing affecting state government and cities throughout Illinois, with little agreement on how to fix it. The Better Government Association aims to provide clarity on this important topic with our updated Illinois Public Pensions Database.</p>

    <p>This updated, by-the-numbers guide to the largest public pension funds...</p>

    <ul>
      <li>Shows how well Illinois, Cook County, Chicago, the suburbs and some Downstate pensions are collectively funded, as well as breakdowns for each of those individual pension funds.</li>
      <li>Compares the present costs for paying down old debts versus the projected costs to cover future benefits.</li>
      <li>Allows users to <a href="#search">search for individuals receiving pensions</a>, a complement to our <a href="https://salary.bettergov.org" target="_blank">Illinois Public Salaries Database</a>.</li>
    </ul>

    <p><small>Note: If you don’t see funding data, we will be adding it as soon as it is available.</small></p>

    <div class="alert alert-secondary my-4" role="alert">
      <i class="fas fa-info-circle fa-fw"></i> <strong>Use the dropdown menu</strong> at the top right of your screen to view data from other years.
    </div>

    <p class="text-center">
      <small>Looking for a person? <a href="#search">Jump to individual benefit search <i class="fas fa-arrow-circle-down"></i></a></small>
    </p>
  </div>
</div>

<div id="funding-by-system">
  <div class="row pt-5 pb-5">
    <div class="col-lg-10 offset-lg-1">
      <h3 class="pb-4"><strong>Pension Liability by System</strong></h3>
    </div>

    {% with fund_type='state' %}
      {% include 'partials/system-pie-chart.html' %}
    {% endwith %}

    {% with fund_type='county' %}
      {% include 'partials/system-pie-chart.html' %}
    {% endwith %}

    {% with fund_type='chicago' %}
      {% include 'partials/system-pie-chart.html' %}
    {% endwith %}

    {% with fund_type='downstate' %}
      {% include 'partials/system-pie-chart.html' %}
    {% endwith %}
  </div>
</div>

<div class="row pt-5 pb-5 hidden" id="funding-by-system-no-data">
  <div class="col-lg-10 offset-lg-1 text-center my-auto">
    <h2>Dang! Some system metadata is not available for <span class="employer-data-year"></span>.</h2>
    <p>Pension reports are released at the end of each year by individual funds and by the Illinois legislature’s bipartisan government agency. That means information for the latest year may not be available right now. Information will be added for all funds as soon as possible.</p>
    <p class="text-center">
      <small>Looking for a person? <a href="#search">Jump to individual benefit search <i class="fas fa-arrow-circle-down"></i></a></small>
    </p>
  </div>
</div>

<div class="clearfix sticky-top w-50">
  <div class="pt-2 pl-1 float-left">
    <div id="fund-toggle">
      <div class="dropdown">
        <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="fundDropdownMenuButton" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for fund in pension_funds|dictsort:'name' %}
            <span class="dropdown-item fund-dropdown-item">{{ fund }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row py-5">
  <div class="col-lg-8 offset-lg-2">
    <p>Here is a deeper look at liabilities for individual pension funds. To select a different fund to examine, click on the drop down menu on the left.</p>

    <div class="alert alert-secondary my-4" role="alert">
      <i class="fas fa-info-circle fa-fw"></i> <strong>Use the dropdown menus</strong> at the top left and right of your screen to view data from other funds and years.
    </div>
  </div>
</div>

<div id="fund-liability-detail">

  <div class="row pt-3">
    <div class="col-lg-10 offset-lg-1">
      <h3><strong>Pension Liability by Fund</strong></h3>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-lg-6 offset-lg-1">
      <div class="row">
        <div class="col-lg-6">
          <h4 class="chart-title"><span class="employer-name"></span></h4>
          <h5 class="chart-subtitle"><span class="employer-data-year"></span></h4>
        </div>
        <div class="col-lg-4 text-center my-auto">
          <small class="text-uppercase">Total Liability</small><br />
          <h2>$<span id="employer-liability-amount"></span></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-3 h-100 text-center">
    <div class="col-lg-6 offset-lg-1">
      <div id="fund-container"></div>
    </div>
    <div class="col-lg-4 my-auto">
      <small class="text-uppercase">Funding Level</small><br />
      <h1><span id="funding-level" class="badge text-white"></span></h1>
    </div>
  </div>

</div>

<div class="row pt-5 pb-5 hidden" id="fund-liability-detail-no-data">
  <div class="col-lg-10 offset-lg-1 text-center my-auto">
    <h2>Dang! We have no metadata for <span class="employer-name"></span> in <span class="employer-data-year"></span>.</h2>
    <p>Pension reports are released at the end of each year by individual funds and by the Illinois legislature’s bipartisan government agency. That means information for the latest year may not be available right now. Information will be added for all funds as soon as possible.</p>
    <p class="text-center">
      <small>Looking for a person? <a href="#search">Jump to individual benefit search <i class="fas fa-arrow-circle-down"></i></a></small>
    </p>
  </div>
</div>

<div class="row pt-5">
  <div class="col-lg-8 offset-lg-2">
    <p>You can also examine how much of a total pension bill goes for benefits earned in the current year versus how much of the bill goes to make up for underpayments in the past.</p>

    <p>What are we comparing to tell that story?</p>

    <ul>
      <li><strong>“Employer normal cost”</strong>, which is the cost to taxpayers to cover pension benefits earned in a given year.</li>
      <li><strong>“Amortization cost”</strong>, which is the cost of borrowing to pay back underfunding in the past.</li>
    </ul>

    <div class="alert alert-secondary my-4" role="alert">
      <i class="fas fa-info-circle fa-fw"></i> <strong>Use the dropdown menus</strong> at the top left and right of your screen to view data from other funds and years.
    </div>
  </div>
</div>

<div id="fund-contribution-detail">

  <div class="row pt-5">
    <div class="col-lg-10 offset-lg-1">
      <h3><strong>Distribution of Employer Contribution</strong></h3>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-lg-6 offset-lg-1">
      <h4 class="chart-title"><span class="employer-name"></span></h4>
      <h5 class="chart-subtitle"><span class="employer-data-year"></span></h4>
    </div>
    <div class="col-lg-4 text-center my-auto">
      <small class="text-uppercase">Total Employer Contribution</small><br />
      <h2>$<span id="employer-contribution-amount"></span></h2>
    </div>
  </div>

  <div class="row">
    <div id="amortization-cost" class="col-lg-10 offset-lg-1"></div>
  </div>

</div>

<div class="row pt-5 pb-5 hidden" id="fund-contribution-detail-no-data">
  <div class="col-lg-10 offset-lg-1 text-center my-auto">
    <h2>Dang! We have no metadata for <span class="employer-name"></span> in <span class="employer-data-year"></span>.</h2>
    <p>Pension reports are released at the end of each year by individual funds and by the Illinois legislature’s bipartisan government agency. That means information for the latest year may not be available right now. Information will be added for all funds as soon as possible.</p>
    <p class="text-center">
      <small>Looking for a person? <a href="#search">Jump to individual benefit search <i class="fas fa-arrow-circle-down"></i></a></small>
    </p>
  </div>
</div>

<div class="row pt-5">
  <div class="col-lg-8 offset-lg-2">
    <p>Finally, as the BGA has since 2012, users will be able to track the money paid to thousands of retired public-sector employees in Illinois. This is searchable information from the pension funds, including Chicago, Cook County, the state of Illinois and many suburbs and downstate municipalities.</p>

    <p>PS: This is data only for the largest pension funds in Illinois and does not include the 600+ police and fire pension funds mostly in Downstate.</p>
  </div>
</div>

<div class="row pt-5">
  <div class="col-lg-10 offset-lg-1">
    <h2><span class="employer-name"></span> Individual Pension Data Search – <span class="employer-data-year"></span></h2>
  </div>
</div>

<div class="row pt-3">
  <div class="col-lg-6 offset-lg-1">
    <h4 class="chart-title">Distribution of Individual Benefits</h4>
    <h5 class="chart-subtitle pb-2"><span class="employer-name"></span> – <span class="employer-data-year"></span></h4>
    <div id="benefit-distribution-chart"></div>
  </div>
  <div class="col-lg-4 text-center my-auto">
    <p>
      <small class="text-uppercase">Median Annual Benefit</small><br />
      <h2 class="pb-3">$<span id="median-benefit-amount"></span></h2>
    </p>

    <p>
      <small class="text-uppercase">Number of Benefits</small><br />
      <h2><span id="total-benefits"></span></h2>
    </p>
  </div>
</div>

<a name="search"></a>
<br />

<div class="row pt-5">
  <div class="col-lg-10 offset-lg-1">
    <p>
      Search <span class="employer-data-year"></span> individual benefit data by full name, or by first or last name. For example, you can find <strong>John Doe</strong> by querying <em>John Doe</em>, <em>Doe</em>, or <em>John</em>. If searching by full name does not return the desired result, try a less specific first or last name search.
    </p>

    <p>If you can't find who you're looking for, your results may change if you change funds or years.</p>

    <div class="alert alert-secondary my-4" role="alert">
      <i class="fas fa-info-circle fa-fw"></i> <strong>Use the dropdown menus</strong> at the top left and right of your screen to view data from other funds and years.
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-bordered" id="benefit-table">
        <thead>
          <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Annual Amount</th>
            <th scope="col">Years of Service</th>
            <th scope="col">Final Salary</th>
            <th scope="col">Benefit Start Date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% include 'auth_modals.html' %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'lib/highcharts.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'js/render_salsa_auth.js' %}"></script>

{% if messages %}
<script type="text/javascript">
  $('#messageModal').modal()
</script>
{% endif %}

{% compress js %}
  <script type="module" src="{% static 'js/base.js' %}"></script>
  <script type="module">
    import { PensionsController, ChartHelper } from "js/base"

    var yearData = {{ data_by_year|safe }};
    var selectedYear = 2017;
    var selectedFund = 'Downstate/Suburban Teachers (TRS)';

    var chartHelper = new ChartHelper();
    var controller = new PensionsController(yearData, selectedYear, selectedFund, chartHelper, benefitTable);

    function makeAjaxUrl (currentController) {
      return "{% url 'benefit_list_json' %}" +
        '?data_year=' + controller.selectedYear +
        '&fund=' + controller.selectedFund;
    }

    controller.selectYear(selectedYear);
    controller.selectFund(selectedFund);

    $('#funding-by-system-no-data').css('min-height', $('#funding-by-system').height());
    $('#fund-liability-detail-no-data').css('min-height', $('#fund-liability-detail').height());
    $('#fund-contribution-detail-no-data').css('min-height', $('#fund-contribution-detail').height());

    var benefitTable = $('#benefit-table').DataTable({
      "dom": "Bfrtip",
      "order": [[ 2, "desc" ]],
      "columnDefs": [{ "orderable": false, "targets": [0, 6] }],
      "processing": true,
      "serverSide": true,
      "ajax": {
        type: 'GET',
        url: makeAjaxUrl(controller),
        error: function (response, status, code) {
          if ( response.status === 401 ) {
            $('#loginModal').modal();
          } else {
            alert(response.responseText);
          }
        },
      },
      "responsive": true,
      "searchDelay": 1000,
    });

    $('.year-dropdown-item').click(function () {
      var selectedYear = $(this).text();

      controller.selectYear(selectedYear);
      controller.selectFund(controller.selectedFund);

      benefitTable.ajax.url(makeAjaxUrl(controller)).load();

      gtag('event', 'toggle', {
        'event_category': 'year',
        'event_label': selectedYear
      });
    });

    $('.fund-dropdown-item').click(function () {
      var selectedFund = $(this).text();

      controller.selectFund(selectedFund);

      benefitTable.ajax.url(makeAjaxUrl(controller)).load();

      gtag('event', 'toggle', {
        'event_category': 'fund',
        'event_label': selectedFund
      });
    });
  </script>
{% endcompress %}
{% endblock %}
