{% extends 'base.html' %}

{% load static %}
{% load compress %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row pt-3">
  <div class="col-sm-6 offset-sm-3 text-center">
    <div class="jumbotron py-2">
      <h3>Illinois Public Pensions Database</h3>
      <p><em>Follow the money paid to retired public-sector employees throughout Illinois.</em></p>

      <p>
        {% if not request.user.is_anonymous %}
          Hello, {{ request.user.email }}!<br />
          <small><em>Not {{ request.user.email }}? <a href="{% url 'auth0_logout' %}">Log out</a>.</em></small>
        {% else %}
          {% if request.GET.verify_email == 'true' %}
            <strong>Please verify your email address to use the Pensions Database.</strong>
          {% endif %}
          <a class="btn btn-primary btn-lg btn-success btn-block" href="{% url 'social:begin' 'auth0' %}">Log In</a>
        {% endif %}
      </p>

      <p>
        <a href="https://auth0.com/?utm_source=oss&amp;utm_medium=gp&amp;utm_campaign=oss" target="_blank" alt="Single Sign On &amp; Token Based Authentication - Auth0"><img src="{% static 'img/a0-badge-dark.png' %}" width="150" height="50" /></a>
      </p>
    </div>
  </div>
</div>

<div class="row pt-3">
  <div class="col-sm-5 offset-sm-1">
    <div id="state-container"></div>
  </div>
  <div class="col-sm-5">
    <div id="county-container"></div>
  </div>
  <div class="col-sm-5 offset-sm-1">
    <div id="chicago-container"></div>
  </div>
  <div class="col-sm-5">
    <div id="downstate-container"></div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'lib/highcharts.js' %}"></script>
{% compress js %}
  <script type="module" src="{% static 'js/base.js' %}"></script>
  <script type="module">
    console.log('Hello, inline world!')
  </script>
  <script type="module">
    {% for container, data in chart_data %}
      Highcharts.chart('{{ container }}', {
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              type: 'pie'
          },
          title: {
              text: {{ data|safe }}[0]['name'],
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: false
                  },
                  showInLegend: true,
                  colors: ['navy', 'silver'],
              }
          },
          series: {{ data|safe }},
      });
    {% endfor %}
  </script>
{% endcompress %}
{% endblock %}
