{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>User Guide</h1>

        <p><strong>A little bit about pensions:</strong> Retired government employees who receive pensions and some spouses and children are enrolled in what is known as a defined benefit plan. They are paid on a regular basis.</p>

        <p>Contributions into the plan are paid by the employees, the return on stocks, mutual funds, bonds and other investments, and by taxpayers. The first state-run pension plan in Illinois, for Chicago teachers, was launched in 1895, but others began decades later.</p>

        <p>In the 1990s, the five state-run funds made two separate but significant changes to pensions.</p>

        <p>One included increasing pensions by 3%, compounded annually.</p>

        <p>The second was a funding schedule that laid out a 50-year plan to restore the state’s retirement systems that became known as the “Edgar Ramp,” named for Jim Edgar, who was governor at the time the law took effect.</p>

        <p>The goal of the ramp was to get all pension funds in the state funded at a minimum of 90% by 2045. But the ramp also allowed underfunding to get worse under both Republican and Democratic administrations for 15 years because it only gradually increased the state’s obligation over that time.</p>

        <p>There are three tiers of pension beneficiaries. Tier I employees are all those hired before 2011 and involve most current public employees and virtually all current pension recipients. Tier II employees began working in 2011 or later and earn more limited benefits. Tier III benefits are available to all Tier II employees and involve a hybrid benefit and 401(k)-style plan.</p>

        <p>Benefits can be collected by a retiree, inherited by a spouse or child, paid as part of a disability claim or a divorce settlement. Some agree to accept a survivor annuity so they can pass a greater benefit to a survivor. A pension benefit requires a minimum number of years worked, and is based on the amount of credited service years and the final average compensation.</p>

        <p>For more on pensions, take a look here: <a href="https://www.bettergov.org/backstory/pensions/" target="_blank">“Backstory - Pensions: Explaining Illinois’ pension crisis, how pension funds are invested, and more.”</a></p>

        <p>If you spot something that isn’t correct, if you have questions or if information is missing for a fund you care about, <a href="https://www.bettergov.org/team/jared-rutecki" target="_blank">please contact our data coordinator</a>.</p>

        <h3>Please read before using the Illinois Public Pensions Database</h3>

        <div class="alert alert-primary mb-4">
            <strong>Note to members of the news media:</strong> As this database is costly in both time and resources, the BGA requests that every reasonable effort be made to provide attribution when data from this server is used for researching, writing or verifying information in the course of news gathering.
        </div>

        <p>By using this public database, you indicate that you understand and agree to the following disclaimers, terms and conditions:</p>

        <ul>

            <li>All records contained in the database are public and were obtained under the Illinois Freedom of Information Act, or FOIA. This database is provided as a public service and is intended to serve as an informational tool only. The BGA does not guarantee the accuracy, completeness, or validity of this information and disclaims any responsibility for any errors or omissions on this database.</li>

            <li>No modifications have been made to the data, other than those considered necessary to present the information uniformly and with clarity to those using or searching the database. The BGA will not modify, remove or add any individual records, unless the records are not consistent with those provided by the pertinent public body at the time of the FOIA request.</li>

            <li>Pension payouts listed in this database are represented as annual amounts.</li>

            <li>The use of the database for commercial purposes or for gathering data in furtherance of any type of marketing is prohibited.</li>

        </ul>

        <p>The data from past years could contain some figures for individuals represented as monthly payments. The overall fund data is represented for the calendar year for some funds, and fiscal years for others. The fiscal years of each individual fund does not necessarily match other funds. All annuitants for the Chicago Transit Authority and the Illinois Municipal Retirement Fund, and many for the State Employees Retirement System, pay into and can collect Social Security benefits. If you don’t see funding data, it will be added as soon as it is available.</p>

        <p>The funding level data comes from the Commission on Government Forecasting and Accountability, a bipartisan organization tasked with providing pension information to Illinois lawmakers. The normal cost and total cost figures come from the Annual Financial Reports of the individual funds.</p>

        <p>Annuitants may collect pensions from other funds inside and outside of Illinois that are not represented here. They may also collect public salaries.</p>

        <p>Some funds provided the average rate of final pay used to calculate an annual pension for its members, while others did not. Some funds provided the final rate of pay for employees. Each fund has a different equation used to calculate pension benefits.</p>

        <p>The pension status field refers to the relationship of the annuitant to the payment. The categories are retiree, inheritor, QILDRO and disability.</p>

        <ul>
            <li>A retiree is the most simple. This is a person who worked for the employer, retired and then collected the benefit.</li>
            <li>A pension can also be inherited. It can be inherited by a child or spouse upon death. There are three classes represented here - widow(er) annuitant, child annuitant and unknown inheritor. Some funds designate whether a wife or child inherited the pension; others indicate that a pension is inherited but do not specify the relationship.</li>
            <li>Qualified Illinois Domestic Relations Order, or QILDRO, refers to a pension payment made as part of a court order in a divorce. It is typically made to an ex-spouse or civil union partner, but can be paid to any dependent family.</li>
            <li>Some pensions are considered disability benefits. These are typically paid to a person whose work leads to a long-term or permanent disability before retirement age.</li>
        </ul>

        <p>Not all of the pension funds provided the status or identity of all pension recipients.</p>
    </div>
</div>
{% endblock %}